<!-- <h1>Vikash Verma</h1>

{{title}}
<br/>
<br/>
{{name}} -->

<!-- <img [src]="imageUrl"  height="100" width="100"/> -->

<!-- Value 1
<input [(ngModel)]="NumberModel.Number1" type="text" />
Value 2
<input [(ngModel)]="NumberModel.Number2" type="text" /> -->

<div class="container">
    <br />
    <h2>Add Customer</h2>
    <br />
    <form [formGroup]="CustomerModel.formCustomerGroup">
    <div class="mb-3">
        <label  class="form-label">Customer Code</label>
        <input type="text" formControlName="CustomerCodeControl" [(ngModel)]="CustomerModel.customerCode" class="form-control"
            aria-describedby="emailHelp">
            <label *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','CustomerCodeControl'))" style="color: red;">Customer Code is required</label>
            <label *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!(hasError('pattern','CustomerCodeControl'))" style="color: red;">Customer Code is not proper</label>
    </div>
    <div class="mb-3">
        <label class="form-label">Customer Name</label>
        <input type="text" formControlName="CustomerNameControl" [(ngModel)]="CustomerModel.customerName" class="form-control" >
        <label *ngIf="CustomerModel.formCustomerGroup.dirty" [hidden]="!CustomerModel.formCustomerGroup.controls['CustomerNameControl'].hasError('required')" style="color: red;">Customer Name is required</label>
    </div>
    <div class="mb-3">
        <label  class="form-label">Customer Amount</label>
        <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="CustomerModel.customerAmount" class="form-control" >
    </div>
    <button [disabled]="!(CustomerModel.formCustomerGroup.valid)" type="submit" class="btn btn-primary" (click)="addCustomer()">Add Customer</button>
    </form>

    <br />
    <br />
    <!-- <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Customer Code</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Amount</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tr *ngFor="let cust of CustomerModels">
            <td>{{cust.customerCode}}</td>
            <td>{{cust.customerName}}</td>
            <td>{{cust.customerAmount}}</td>
            <td><input type="button" class="btn btn-primary" value="Edit"/>
                <input type="button" class="btn btn-primary" value="Delete"/>
            </td>
        </tr>
    </table> -->

    <grid-ui [grid-columns]="[{'colName':'customerCode'},{'colName':'customerAmount'},{'colName':'customerCode'}]"
    
    [grid-data]="CustomerModels"
    />
</div>