<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Customer App</a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" [routerLink]="['customer']">Customer</a>
          <a class="nav-link" href="#">Supplier</a>
          <a class="nav-link" *ngIf="isLoggedIn" [routerLink]="['login']">Login</a>
          <a class="nav-link" *ngIf="isLoggedIn" [routerLink]="['register']">Register</a>
          <a class="nav-link" *ngIf="!isLoggedIn" (click)="logout()" >Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
</div>