<div style="margin-top: 20px;">
  <div class="mb-3">
    <label  class="form-label">Email address</label>
    <input type="email"  [(ngModel)]="registerUserModel.userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label  class="form-label">Password</label>
    <input type="password"  [(ngModel)]="registerUserModel.password"  class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary" (click)="registerUser()">Register</button>
</div>